<section>
	<div id="pagcontacto">
		<div class="container">
			<h1>Contact Information</h1><br>
			<div class="row">
				<div class="col-xs-6">
					<h4>Name</h4>
					<p class="lead"><%= @lead.name %></p>
				</div>
				<div class="col-xs-6">
					<h4>Email</h4>
					<p class="lead"><%= @lead.email %></p>
				</div>
			
				<h4>Message</h4>
				<div class="notes">
					<%= @lead.notes %>
				</div>
			</div>
		
		
		<%= link_to "Delete", @lead, class: "btn btn-danger pull-right bye", method: :delete, data: {confirm: "Are you sure?"} %>
		<%= link_to "Back", leads_path, class: "btn btn-default pull-right" %>
		<%= mail_to @lead.email, class: "btn btn-info" do %>
			Send Email <i class="fa fa-envelope fa-fw contact"></i>
		<% end %>
		</div>	
	</div>
</section>
