<section>
	<div id="pagcontacto">
	  <div class="row">
	    <div id="forming" class="col-sm-8">
	      <h1>Contacto</h1>
	      <p class="lead">Mándame un mensaje para dar feedback o sugerencias, hablar de tus proyectos y necesidades o simplemente saludarme.  ¡Gracias!</p>

	      <%= form_for Lead.new do |f| %>
	        <div class="row">
	          <div class="form-group col-xs-6">
	            <label>NOMBRE:</label>
	            <%= f.text_field :name, class: "formmer", placeholder: "Tu nombre...", required: true %>
	          </div>
	          <div class="form-group col-xs-6">
	            <label for="nombre">EMAIL:</label>
	            <%= f.email_field :email, class: "formmer", placeholder: "Tu email...", required: true %>
	          </div>
	        </div>
	        <div class="form-group">
	          <label for="mensaje">MENSAJE:</label>
	          <%= f.text_area :notes, rows: "4", class: "formmer", placeholder: "Deja un mensaje aqui...", required: true %>
	        </div>
	        <%= button_tag class: "button jumpr pull-right" do %>
	        	Enviar
	        <% end %>
	      <% end %>
	      
	    </div>
	    <div id="contacto" class="col-sm-4">
	    	<h1 class="visible-xs">Datos de Contacto</h1>
	      <h4>EMAIL</h4>
	      <p>nate@devocode.com</p>
	      <h4>TELÉFONO</h4>
	      <p>+569-7891-0267</p>
	      <h4>SKYPE</h4>
	      <p>nallenanderson</p>
	      <h4>DIRECCIÓN</h4>
	      <ul class="list-unstyled">
	        <li>Hamlet 4000, Of. 705</li>
	        <li>Las Condes, Santiago de Chile</li>
	        <li>7550019</li>
	      </ul>
	      <div class="iconos">
	        <i class="fa fa-twitter fa-2x fa-border"></i>
	        <i class="fa fa-github fa-2x fa-border"></i>
	        <i class="fa fa-skype fa-2x fa-border"></i>
	      </div>
	    </div>
	  </div>
	</div>
</section>

<script>
      $(window).resize(function(){

        $('#pagecontacto').css({
          position:'absolute',
          left: ($(window).width() - $('#pagecontacto').outerWidth())/2,
          top: ($(window).height() - $('#pagecontacto').outerHeight())/2
        });

      });

      // To initially run the function:
      $(window).resize();
    </script>

