<section id="topsec">
	<div class="container">
		<h1 class="text-center explainer">Rails Innerworkings</h1>
		<div class="row">
			<div class="col-sm-7">
				<div class="explain views">
					<div class="row">
						<div class="col-xs-10">
							<h2>Views</h2>
							<p>The visual representation of your app.</p>
						</div>
						<div class="col-xs-2">
							<%= icon("eye") %>
						</div>
					</div>
				</div>
				<div class="explain routes">
					<div class="row">
						<div class="col-xs-10">
							<h2>Routes</h2>
							<p>The visual representation of your app.</p>
						</div>
						<div class="col-xs-2">
							<%= icon("code-fork") %>
						</div>
					</div>
				</div>
				<div class="explain models">
					<div class="row">
						<div class="col-xs-10">
							<h2>Models</h2>
							<p>The visual representation of your app.</p>
						</div>
						<div class="col-xs-2">
							<%= icon("database") %>
						</div>
					</div>
				</div>
				<div class="explain controllers">
					<div class="row">
						<div class="col-xs-10">
							<h2>Controllers</h2>
							<p>The visual representation of your app.</p>
						</div>
						<div class="col-xs-2">
							<%= icon("cogs") %>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-5">
				<div class="browser">
					<h2>Browser</h2>
					<p>The visual representation of your app.</p>
					<div class="desky">
						<%= icon("desktop") %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>